<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<nav th:fragment="navbar">
		<div class="nav-wrapper blue">
			<a href="../home" class="brand-logo">
				Empresta Aí!
				<img src="../../img/icon.png" class="responsive-img" width="50" />
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="../itens/"
					class="waves-effect waves-light btn orange"> <i
						class="material-icons left">extension</i>Itens
				</a></li>

				<li><a href="../contatos/"
					class="waves-effect waves-light btn orange"> <i
						class="material-icons left">person</i>Contatos
				</a></li>

				<li><a href="../emprestimos/"
					class="waves-effect waves-light btn orange"> <i
						class="material-icons left">thumb_up</i>Empréstimos
				</a></li>
				
				<li><a href="../logout/"
					class="waves-effect waves-light btn orange"> <i
						class="material-icons left">arrow_back</i>Logout
				</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>